* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
li a {
  text-decoration: none;
}
.trip-size {
  font-size: 5rem;
}
.disc {
  min-width: 200px;
  min-height: 400px;
  margin-top: 4em;
  margin-bottom: 1em;
}
.disc q {
  white-space: pre-line;
  word-break: break-all;
  word-wrap: break-word;
}
.m-bg {
  margin-bottom: 0px;
}
.bg {
  margin-bottom: 150px;
}
.bg img {
  opacity: 0.5;
  width: 50%;
}
.title {
  padding-top: 20px;
}
.title span {
  margin-left: 8px;
  margin-right: 8px;
  font-family: monospace;
}
.city_list {
  border: 2px solid black;
  background-color: black;
  text-align: center;
  margin-bottom: 0;
}
.city_list li {
  background-color: white;
  padding-top: 2px;
  padding-bottom: 2px;
}
#menu {
  font-size: 1.25em;
  font-family: sans-serif;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px;
}
#menu a {
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: none;
}
#menu a:hover {
  border-bottom: 2px solid white;
  transition: all 0.2s;
}
.cur {
  border-bottom: 2px solid white;
}
#Seoul,
#Tokyo,
#NewYork,
#Beijing {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 600px;
  max-width: 100%;
}
#Seoul,
#Tokyo,
#Beijing,
#NewYork h2 {
  text-shadow: -4px 0px 20px;
}
#Seoul {
  background-image: url("../img/gyeongbok-palace.jpg");
}
#Tokyo {
  background-image: url("../img/tokyo.jpg");
}
#Beijing {
  background-image: url("../img/beijing.jpg");
}
#NewYork {
  background-image: url("../img/nyc-statue-of-liberty.jpg");
}
.w3-display-middle {
  position: absolute;
  /* left: 0; */
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.se {
  top: 100px;
}
.attr-img1,
.attr-img2,
.attr-img3 {
  width: 100%;
  height: 210px;
  padding: 10px;
}
a.img1,
.img2,
.img3 {
  text-decoration: none;
}
.card:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.more {
  direction: rtl;
}
.more::before {
  content: "...";
}
.food-and-drink-list {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 6rem;
  padding-left: 3rem;
  font-weight: 500;
}
.food-and-drink-item {
  float: left;
  margin: 5px;
  border-bottom: 0.1rem solid #f1f4fb;
  width: calc(50% - 3rem);
}
.food-and-drink-item a {
  display: block;
  padding-bottom: 1.8rem;
  padding-top: 2.1rem;
}
.food-and-drink-item a:hover {
  transition: 0.5s;
  display: block;
  padding-left: 1.8rem;
  padding-right: 2.8rem;
}
.food-and-drink-item p {
  white-space: pre;
}
.food-and-drink-item span {
  color: #2c3643;
  font-size: 1.25em;
}
.food-and-drink-item:first-child {
  border-top: 0.1rem solid #f1f4fb;
}
.food-and-drink-item:nth-child(2) {
  border-top: 0.1rem solid #f1f4fb;
}
.food-and-drink-item:nth-child(2n) {
  margin-left: 3rem;
}
.floating-button {
  position: fixed;
  right: 0;
  bottom: 0px;
  padding: 20px;
  width: 50px;
  height: 50px;
  background-color: #0d8e6a;
  color: white;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translate(-10px, -10px);
  box-shadow: 0px 1px 4px 1px #e3e3e3;
}
.floating-button a {
  text-decoration: none;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #Seoul,
  #Tokyo,
  #Beijing,
  #NewYork {
    min-height: 400px;
    width: 90%;
    margin: auto;
  }
  .bg {
    width: 100%;
  }
}
@media only screen and (max-resolution: 150dpi) and (max-width: 480px) {
  .disc {
    font-size: 20px;
  }
  .theme {
    font-size: 35px;
  }
  .more {
    font-size: 6px;
  }
}
