<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../static/css/w3.css">
  <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <link href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.min.css" rel="stylesheet">
  <title>Seoul&Tokyo&Beijing Info</title>
</head>
<body>
    <div class="w3-top">
      <div  id="menu" class="w3-bar w3-black">
          <a href="#home" class="w3-bar-item w3-button cur home">Home</a>
          <a href="#about" class="w3-bar-item w3-button about">About</a>
          <a href="#contact" class="w3-bar-item w3-button contact">Contact</a>
      </div>
    </div>
    <header class=" w3-wide" style="max-width:100%;" id="home">
      <div class="w3-center" style="background-color:black;">
        <p><br></p>
        <h2 class="w3-black w3-color-white CITY">
          <span>C</span>
          <span>I</span>
          <span>T</span>
          <span>Y</span>
        </h2>
        <ul class="w3-padding city_list">
          <li><a href="#Seoul">Seoul</a></li>
          <li><a href="#Tokyo">Tokyo</a></li>
          <li><a href="#Beijing">Beijing</a></li>
        </ul>
      </div>
      <div class="w3-display-container m-bg">
        <img class="w3-image" src="../static/img/background.jpg" alt="" width="100%" style="min-height:450px; margin-bottom:10px; opacity:0.8;">
        <div class="w3-display-middle w3-margin-top w3-center w3-text-white">
          <h1 class="w3-xxlarge"><span class="w3-hide-small w3-text-light-grey">MAKE YOUR PLAN</span></h1>
          <h5><b>JUST GO<b></h5>
        </div>
      </div>
    </header>
    <div id="Seoul" class="w3-display-container w3-image w3-center">
      <div class="w3-display-middle">
        <h2 class="w3-container  w3-text-white"><span>SOUTH KOREA</span></h2>
        <span class="w3-center w3-text-white w3-jumbo"><b><p>SEOUL</p></b></span>
      </div>
    </div>
    <div class="w3-content w3-container w3-padding-64">
      <h3 class="w3-center theme"><b>Seoul, South Korea</b></h3>
      <hr>
      <p class="w3-center disc">
        <q>With a population of more than 11.8 million, the capital city of South Korea,
        Seoul is the largest city in South Korea and the cultural and financial epicenter of the East Asia.
        It features a fascinating mix of digital technology and ancient traditions,
        its home to endless night life districts and food vendors.<br>
        In addition, the city is characterized by the serene dotted Buddhist temples,
        a high pressure extraordinarily education system,
        extraordinary architecture and rows of grey monotonous buildings.
        You can get in to Seoul through the Incheon Airport and get to the city through A’REX train.
        Being stuck in traffic jams is a common scenario in Seoul city and if you want to avoid this,
        it recommended you use underground trains.</q><br>
      </p>
      <p><br></p>
      <div class="w3-center">
        <img class="w3-image bg" src="../static/img/timg1.jpg" alt="" style="width:80%">
      </div>
      <div class="w3-container w3-padding">
        <h3 class="w3-center">Seoul Attractions</h3>
        <hr>
        <br>
          <div class="w3-third">
            <div class="w3-card-2 card">
                <a class="img1" href="http://english.visitseoul.net/attractions/Gyeongbokgung-Palace_/73" target="_blank">
                  <img  class="attr-img1" src="../static/img/Gyeong.jpg" alt="">
                </a>
                <div class="w3-container">
                  <h5 style="text-align:center">Gyeongbokgung Palace<br>(Korean:경복궁)</h5>
                </div>
            </div>
          </div>
          <div class="w3-third">
            <div class="w3-card-2 card">
                <a class="img2" href="http://english.visitseoul.net/attractions/Bukchon-Hanok-Village_/263" target="_blank">
                  <img class="attr-img2" src="../static/img/bukchon.jpg" alt="">
                </a>
                <div class="w3-container">
                  <h5 style="text-align:center">Bukchon Hanok Village<br>(Korean:북촌 한옥마을)</h5>
                </div>
            </div>
          </div>
          <div class="w3-third">
            <div class="w3-card-2 card">
                <a class="img3" href="http://english.visitseoul.net/attractions/Cheonggyecheon-Stream_/35" target="_blank">
                  <img class="attr-img3" src="../static/img/chun.jpg" alt="">
                </a>
                <div class="w3-container">
                  <h5 style="text-align:center">Cheonggyecheon<br>(Korean:청계천)</h5>
                </div>
            </div>
          </div>
          <a href="#"><p class="more">See More</p></a>
        </div>
    </div>
    <div class="w3-container w3-padding" id="k_food">
      <h3 class="w3-center">Food and Drink</h3>
      <hr>
      <div class="w3-container w3-center w3-padding w3-margin">
        <ol class="food-and-drink-list">
          <li class="food-and-drink-item" data-index="0"><a href="#"><span>갈비</span><p>grilled ribs</p></a></li>
          <li class="food-and-drink-item" data-index="1"><a href="#"><span>육계장</span><p>spicy beef soup</p></a></li>
          <li class="food-and-drink-item" data-index="2"><a href="#"><span>자장면</span><p>Korean Black Bean Sauce Noodles</p></a></li>
          <li class="food-and-drink-item" data-index="3"><a href="#"><span>순두부 찌게</span><p>Spicy soft tofu stew</p></a></li>
          <li class="food-and-drink-item" data-index="4"><a href="#"><span>비빔냉변</span><p>Korean spicy cold noodles</p></a></li>
          <li class="food-and-drink-item" data-index="5"><a href="#"><span>막걸리</span><p>Korean Rice Wine</p></a></li>
          <li class="food-and-drink-item" data-index="6"><a href="#"><span>간장게장</span><p>Soy sauce crab</p></a></li>
          <li class="food-and-drink-item" data-index="7"><a href="#"><span>삼겹살</span><p>Grilled pork belly</p></a></li>
        </ol>
      </div>
    </div>
    <div id="Tokyo" class="w3-display-container w3-center w3-image">
      <h2 class="w3-container w3-padding-64 w3-margin w3-text-white"><span>JAPAN</span></h2>
      <span class="w3-center w3-text-white w3-jumbo"><b><p>TOKYO</p></b></span>
    </div>
    <div class="w3-content w3-container w3-padding-64">
      <h3 class="w3-center"><b>Tokyo, Japan</b></h3>
      <hr>
      <p class="w3-center disc">
        <q>Tokyo is the center of the latest advanced technology in every sector of Japan’s economy among other major cities of Japan.
          It is the blessed capital city of Japan. It has a wide selection of attractions for tourists to be enjoyed.
          The highest percentage of the attractions is the historic landmark collection.
          Japan is known to have existed for over a thousand years with many dynasties governing the kingdom.
          This long era of dynasties has left behind many marks to the Japanese society, to be recognized in the later millenniums.
          Tokyo also respects the Japanese antique culture by having a cultural center where traditional dances are performed.</q><br>
      </p>
      <div class="w3-center bg">
        <img src="../static/img/timg2.jpg" alt="" style="width:80%">
      </div>
      <div class="w3-container w3-padding">
        <h3 class="w3-center">Tokyo Attractions</h3>
        <hr id="hr_attr1">
        <br>
          <div class="w3-third">
            <div class="w3-card-2 card">
                <a class="img1" href="http://www.tnm.jp/?lang=en" target="_blank">
                  <img  class="attr-img1" src="../static/img/japan-tokyo-national-museum.jpg" alt="">
                </a>
                <div class="w3-container ">
                  <h5 style="text-align:center">Tokyo National Meseum<br>(Japanese: 東京国立博物館)</h5>
                </div>
            </div>
          </div>
          <div class="w3-third">
            <div class="w3-card-2 card">
                <a class="img2" href="http://www.tokyo-skytree.jp/en/" target="_blank">
                  <img class="attr-img2" src="../static/img/japan-tokyo-skytree.jpg" alt="">
                </a>
                <div class="w3-container">
                  <h5 style="text-align:center">The Tokyo Skytree<br>(Janpanese: 東京スカイツリー)</h5>
                </div>
            </div>
          </div>
          <div class="w3-third">
            <div class="w3-card-2 card">
                <a class="img3" href="http://www.meijijingu.or.jp/english/" target="_blank">
                  <img class="attr-img3" src="../static/img/japan-tokyo-meiji-shrine.jpg" alt="">
                </a>
                <div class="w3-container">
                  <h5 style="text-align:center">The Meiji Shrine<br>(Japanese: 明治神宮)</h5>
                </div>
            </div>
          </div>
          <a href="#"><p class="more">See More</p></a>
        </div>
    </div>
    <div class="w3-container w3-padding" id="j_food">
      <h3 class="w3-center">Food and Drink</h3>
      <hr>
      <div class="w3-container w3-center w3-padding w3-margin">
        <ol class="food-and-drink-list">
          <li class="food-and-drink-item" data-index="0"><a href="#"><span>寿司</span><p>Sushi</p></a></li>
          <li class="food-and-drink-item" data-index="1"><a href="#"><span>饂飩</span><p>Udon</p></a></li>
          <li class="food-and-drink-item" data-index="2"><a href="#"><span>天麩羅</span><p>Tempura</p></a></li>
          <li class="food-and-drink-item" data-index="3"><a href="#"><span>焼き鳥</span><p>Yakitori</p></a></li>
          <li class="food-and-drink-item" data-index="4"><a href="#"><span>お好み焼き</span><p>Okonomiyaki</p></a></li>
          <li class="food-and-drink-item" data-index="5"><a href="#"><span>丼</span><p>Donburi</p></a></li>
          <li class="food-and-drink-item" data-index="6"><a href="#"><span>日本酒</span><p>Sake</p></a></li>
          <li class="food-and-drink-item" data-index="7"><a href="#"><span>鋤焼</span><p>Sukiyaki</p></a></li>
        </ol>
      </div>
    </div>
    <div id="Beijing" class="w3-container w3-center w3-image">
      <h2 class="w3-container w3-padding-64 w3-margin w3-text-white"><span>CHINA</span></h2>
      <span class="w3-center w3-text-white w3-jumbo"><b><p>BEIJING</p></b></span>
    </div>
    <div class="w3-content w3-container w3-padding-64">
      <h3 class="w3-center"><b>Beijing, China</b></h3>
      <hr>
      <p class="w3-center disc">
        <q>Beijing (/ˌbeɪˈdʒɪŋ/ BAY-JING, /ˌbeɪˈʒɪŋ/ BAY-ZHING;[10][11] Mandarin pronunciation: [pèi.tɕíŋ] (About this soundlisten)), formerly romanized as Peking[12] (/ˌpiːˈkɪŋ/ PEE-KING),[11] is the capital of the People's Republic of China, the world's third most populous city proper, and most populous capital city. The city, located in northern China, is governed as a municipality under the direct administration of the central government with 16 urban, suburban, and rural districts.[13] Beijing Municipality is surrounded by Hebei Province with the exception of neighboring Tianjin Municipality to the southeast; together, the three divisions form the Jingjinji metropolitan region and the national capital region of China.[14]

          Beijing is an important world capital and global power city, and one of the world's leading centers for culture, diplomacy and politics, business and economy, education, language, and science and technology. A megacity, Beijing is the second largest Chinese city by urban population after Shanghai and is the nation's cultural, educational, and political center.[15] It is home to the headquarters of most of China's largest state-owned companies and houses the largest number of Fortune Global 500 companies in the world, as well as the world's four biggest financial institutions.[16][17] It is also a major hub for the national highway, expressway, railway, and high-speed rail networks. The Beijing Capital International Airport has been the second busiest in the world by passenger traffic since 2010,[18] and, as of 2016, the city's subway network is the busiest and longest in the world.</q><br>
      </p>
      <div class="w3-center bg">
        <img src="../static/img/timg4.jpeg" alt="" style="width:80%">
      </div>
      <div class="w3-container w3-padding">
        <h3 class="w3-center">Beijing Attractions</h3>
        <hr>
        <br>
        <div class="w3-third">
          <div class="w3-card-2 card">
              <a class="img1" href="https://www.viator.com/tours/Beijing/Beijing-Tiananmen-Square-and-Forbidden-City-and-Temple-of-Heaven-Private-Day-Tour/d321-40944P34" target="_blank">
                <img  class="attr-img1" src="../static/img/tiananmen-square.jpg" alt="">
              </a>
              <div class="w3-container">
                <h5 style="text-align:center">Tiananmen Square<br></h5>
              </div>
          </div>
        </div>
        <div class="w3-third">
          <div class="w3-card-2 card">
            <a class="img2" href="https://www.viator.com/tours/Beijing/Great-Wall-of-China/d321-195852P1" target="_blank">
              <img class="attr-img2" src="../static/img/china-beijing-attractions-great-wall-of-china.jpg" alt="">
            </a>
              <div class="w3-container">
                <h5 style="text-align:center">The Great Wall of China<br></h5>
              </div>
          </div>
        </div>
        <div class="w3-third">
          <div class="w3-card-2 card">
              <a class="img3" href="https://www.viator.com/tours/Beijing/Beijing-Summer-Palace-Yi-He-Yuan-Tickets/d321-103492P24" target="_blank">
                <img class="attr-img3" src="../static/img/china-beijing-attractions-the-summer-palace.jpg" alt="">
              </a>
              <div class="w3-container">
                <h5 style="text-align:center">Summer Palace <br></h5>
              </div>
          </div>
        </div>
        <a href="#"><p class="more">See More</p></a>
      </div>
  </div>
  <div class="w3-container w3-padding" id="c_food">
    <h3 class="w3-center">Food and Drink</h3>
    <hr>
    <div class="w3-container w3-center w3-padding w3-margin">
      <ol class="food-and-drink-list">
        <li class="food-and-drink-item" data-index="0"><a href="#"><span>北京烤鸭</span><p>Peking Duck</p></a></li>
        <li class="food-and-drink-item" data-index="1"><a href="#"><span>京酱肉丝</span><p>Jing Jiang Rou Si</p></a></li>
        <li class="food-and-drink-item" data-index="2"><a href="#"><span>奶酪</span><p>Nai Lao</p></a></li>
        <li class="food-and-drink-item" data-index="3"><a href="#"><span>艾窝窝</span><p>Aiwowo</p></a></li>
        <li class="food-and-drink-item" data-index="4"><a href="#"><span>麻辣烫</span><p>Chinese Egg Crepe</p></a></li>
        <li class="food-and-drink-item" data-index="5"><a href="#"><span>丼</span><p>Malatang</p></a></li>
        <li class="food-and-drink-item" data-index="6"><a href="#"><span>火锅</span><p>Hot Pot</p></a></li>
        <li class="food-and-drink-item" data-index="7"><a href="#"><span>龙须糖</span><p>Dragon’s Beard Candy</p></a></li>
      </ol>
    </div>
  </div>
  <!--Write About my Information-->
  <!--footer-->
  <footer class="w3-container w3-center w3-black w3-padding-64" id="contact">
    <div class="w3-xlarge w3-section">
    </div>
    <span style="font-size:0.25em;">Made By YJ</span>
  </footer>
  <script src="../static/js/index.js"></script>
</body>
</html>
